<!-- footer.component.html -->
<div class="container-fluid p-0">
  <footer class="bg-dark text-center text-lg-start text-white">
    <div class="container p-4">
      <div class="row my-4">
        <!-- Logo + Description -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="rounded-circle bg-white shadow d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="assets/images/logo.ico" height="70" alt="Logo" loading="lazy" />
          </div>
          <p class="text-center">
            Homeless animal shelter. A unit of the Capital City of Warsaw.
          </p>
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a class="text-white px-2" href="#"><i class="fab fa-facebook-square fa-lg"></i></a></li>
            <li><a class="text-white px-2" href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
            <li><a class="text-white px-2" href="#"><i class="fab fa-youtube fa-lg"></i></a></li>
          </ul>
        </div>

        <!-- Animals Links -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Animals</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>When your pet is missing</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Recently found</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>How to adopt?</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Pets for adoption</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Material gifts</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Help with walks</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Volunteer activities</a></li>
          </ul>
        </div>

        <!-- Information Links -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Information</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>General info</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>About the shelter</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Statistics</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Jobs</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Tenders</a></li>
            <li class="mb-2"><a href="#" class="text-white"><i class="fas fa-paw pe-2"></i>Contact</a></li>
          </ul>
        </div>

        <!-- Contact -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contact</h5>
          <ul class="list-unstyled">
            <li><p><i class="fas fa-map-marker-alt pe-2"></i>Warsaw, 57 Street, Poland</p></li>
            <li><p><i class="fas fa-phone pe-2"></i>+01 234 567 89</p></li>
            <li><p><i class="fas fa-envelope pe-2"></i>contact&#64;example.com</p></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0,0,0,0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
</div>
