.card {
  background: #ffffff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  border-radius: 1rem;
}
.qrcode-hover{
  cursor: pointer;
}
.bg-gradient {
  background: linear-gradient(135deg, #007bff, #6610f2);
}
.img-thumbnail {
  max-height: 250px;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.qrcode-hover:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
