<div class="container mt-4" dir="rtl">
  <div class="text-center mb-5">
    <h2 class="fw-bold">
    مبنى   {{ BuildingName }} - الغرفة رقم {{ roomName }}
    </h2>
  </div>

  <div class="row g-4 justify-content-center">
    <div class="col-md-4" *ngFor="let student of studentList">
      <div class="card shadow rounded-4 border-0" routerLink="/studentDetails" (click)="getStudentId(student.id)">
<!--        <img *ngIf="student.image" [src]="'data:image/jpeg;base64,' + student.image" class="card-img-top rounded-top-4" alt="صورة الطالب">-->
        <div class="card-body text-center">
          <h5 class="card-title fw-bold">{{ student.name }}</h5>
          <p class="card-text mb-1">
            <i class="fas fa-layer-group me-2 text-primary"></i>
            المرحلة: {{ student.stage }}
          </p>
          <p class="card-text mb-1">
            <i class="fas fa-envelope me-2 text-danger"></i>
            {{ student.email }}
          </p>
          <p class="card-text">
            <i class="fas fa-phone me-2 text-success"></i>
            {{ student.phone }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
