<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-toggler"
       type="image"
       aria-label="Toggle navigation">
      <span>
        <img src="../../../../../assets/images/logo.ico" class="logo">
      </span>
    </a>

    <a class="navbar-brand d-none d-sm-block " href="#">
      <img src="../../../../../assets/images/logo.ico" class="logo">
    </a>


    <div class="d-flex align-items-center">
      @if (isAuthenticated) {
        <div class="nav-icon position-relative me-3"  (click)="toggleNotifications()">
          <button type="button" class="icon-button">
            <span class="material-icons">notifications</span>
            <span class="icon-button__badge">{{ notifications.length }}</span>
          </button>
          <div class="notification-list"  *ngIf="showNotifications" >
            <div *ngFor="let notification of notifications"
                 class="notification-item"
                 [ngClass]="{
               'low-importance': notification.importance === 'low',
               'medium-importance': notification.importance === 'medium',
               'high-importance': notification.importance === 'high'
             }" >
              <div>
                <p>{{ notification.message }}</p>
                <small>{{ notification.timestamp }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown" [class.show]="dropdownOpen">
          <a href="#" class="nav-link py-3 rounded-0 text-black d-flex"
             data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleDropdown($event)">
            <div class="profile-circle bg-primary text-white d-flex justify-content-center align-items-center">
              <span>{{ firstCharacter }}</span>
            </div>
          </a>
          <ul class="dropdown-menu text-small shadow" [class.show]="dropdownOpen"
              style="top: 200%; left: 60%; transform: translateY(-50%); position: absolute;">
            <li><a class="dropdown-item" routerLink="student/settings">Settings</a></li>
            <li><a class="dropdown-item" routerLink="student/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="home" (click)="signOut()">Sign out</a></li>
          </ul>
        </div>
      } @else {
        <div class="btn btn-outline-primary" routerLink="/api/auth/register">register</div>
        <div class="btn btn-outline-primary me-3" routerLink="/api/auth/authenticate">login</div>
      }
    </div>
  </div>
</nav>
