


<div class="chat-container">
  <div class="chat-header">
    <h5 class="mb-0 text-end" >ADMIN</h5>
  </div>
  <div class="chat-messages text-end">
    <div class="message admin">
      <div class="message-content">Hello! How can I help you today?</div>
    </div>
    <div class="message user">
      <div class="message-content">Hi! I have a question about my order.</div>
    </div>
  </div>
  <div class="chat-input d-flex">
    <input type="text" class="form-control me-2" placeholder="Type a message..." />
    <button class="btn btn-primary">Send</button>
  </div>
</div>


