<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card shadow">
        <div class="card-header bg-primary fs-4 text-white">
          الاعدادات
        </div>
        <div class="card-body">
          <form [formGroup]="checkFormControl" (ngSubmit)="save()">
            <div class="mb-3">
              <label class="form-label text-start d-block">كلمة المرور الحالية</label>
              <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                     placeholder="ادخل كلمة المرور الحالية..." formControlName="currentPassword"
                     [ngClass]="{'is-invalid':this.checkFormControl.get('currentPassword')?.invalid && this.checkFormControl.get('currentPassword')?.touched}">
              @if (this.checkFormControl.get('currentPassword')?.errors?.['required']) {
                <div class="invalid-feedback text-start">هذا الحقل مطلوب</div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label text-start d-block">كلمة المرور الجديد</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword"
                     placeholder="ادخال كلمة المرور الجديد..." formControlName="newPassword"
                     [ngClass]="{'is-invalid':this.checkFormControl.get('newPassword')?.invalid && this.checkFormControl.get('newPassword')?.touched}">
              @if (this.checkFormControl.get('newPassword')?.errors?.['required']) {
                <div class="invalid-feedback text-start">هذا الحقل مطلوب</div>
              }

            </div>
            <div class="mb-3">
              <label class="form-label text-start d-block ">تأكيد كلمة المرور الجديد</label>
              <input type="password" class="form-control" id="confirmPassword" name="currentPassword"
                     placeholder="تأكيد كلمة المرور الجديد..." formControlName="confirmPassword"
                     [ngClass]="{'is-invalid':this.checkFormControl.get('confirmPassword')?.invalid && this.checkFormControl.get('confirmPassword')?.touched}">
              @if (this.checkFormControl.get('confirmPassword')?.errors?.['required']) {
                <div class="invalid-feedback text-start">هذا الحقل مطلوب</div>
              }
              @if (this.notEqual) {
                <div class="invalid-feedback text-start">كلمتى المرور غير متضابقة</div>
              }
            </div>
            @if (errorMessage) {
              <div class="alert alert-danger">
                {{ errorMessage }}
              </div>
            }
            @if (successMessage) {
              <div class="alert alert-success">
                {{ successMessage }}
              </div>
            }
            <div class="d-grid">
              <button [disabled]="checkFormControl.invalid" type="submit" class="btn btn-primary">Update Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
