<div class="container mt-4" dir="rtl">
  <div class="text-center mb-5">
    <h2 class="fw-bold">
       {{ BuildingName }} - الغرفة رقم {{ roomName }}
    </h2>
  </div>

  <div class="container py-4">
    <div class="row g-4 justify-content-center mt-0">
      <div class="col-md-4" *ngFor="let student of studentList">
        <div class="card shadow rounded-4 border-0 hover-card" routerLink="/admin/studentDetails/{{student.id}}">
          <!--        <img *ngIf="student.image" [src]="'data:image/jpeg;base64,' + student.image" class="card-img-top rounded-top-4" alt="صورة الطالب">-->
          <div class="card-body text-center">
            <h5 class="card-title fw-bold">{{ student.arabicName }}</h5>

            <p class="card-text mb-1">
              <i class="fas fa-layer-group me-2 text-primary"></i>
              السنة الدراسية: {{ student.stage }}
            </p>

            <p class="card-text mb-1">
              <i class="fas fa-envelope me-2 text-danger"></i>
              {{ student.englishName }}
            </p>

            <p class="card-text mb-1">
              <i class="fas fa-phone me-2 text-success"></i>
              {{ student.phone }}
            </p>

            <p class="card-text mb-1">
              <i class="fas fa-university me-2 text-info"></i>
              الكلية: {{ student.colleague }}
            </p>

            <p class="card-text mb-1">
              <i class="fas fa-venus-mars me-2 text-warning"></i>
              الجنس: {{ student.gender === 'ذكر' ? 'ذكر' : 'أنثى' }}
            </p>

            <p class="card-text">
              <i class="fas fa-map-marker-alt me-2 text-secondary"></i>
              المحافظة: {{ student.governorate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="studentList.length===0" class="spinner-container">
    <div class="spinner"></div>
  </div>
</div>
