<div class="container my-5">
  <div class="row justify-content-center" >
    <div class="col-12 card" style="background: #dee2e6">
      <div class="text-center mb-4">
        <div class="card-img">
          <img src="assets/images/logo.ico" class="profile-image">
        </div>
        <h5>رقم الطالب: 2102397</h5>
      </div>
      <h3 class="mb-3 text-primary text-start">البيانات الأساسية</h3>
      <div class="row g-5 mb-3">
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">الاسم باللغة العربية</div>
              <div class="text-start fw-bold">نورالدين سعيد بسوني ابراهيم</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">الاسم باللغة الانجليزية</div>
              <div class="text-end fw-bold ">Nouredien said basuny ibrahim</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">النوع</div>
              <div class="text-start fw-bold">ذكر</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-5 mb-3">
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">تاريخ الميلاد</div>
              <div class="text-start fw-bold">03/03/2001</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">الرقم القومي</div>
              <div class="text-start fw-bold ">30103032101036</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100" style="height: 60px">
            <div class="m-1">
              <div class="label text-start  text-secondary">المحافظة</div>
              <div class="text-start fw-bold">الجيزة</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-5 mb-3">
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">العنوان</div>
              <div class="text-start fw-bold">2ش عمر مكرم المتفرع من شارع ترسا العمومى</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">المدينة</div>
              <div class="text-start fw-bold ">ابوالنمرس</div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mb-3 text-primary text-start">بيانات الإتصال </h3>
      <div class="row g-5 mb-3">
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">البريد الالكتروني</div>
              <div class="text-start fw-bold">NourIbrahim90725&#64;azhar.edu.eg</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">المحمول</div>
              <div class="text-start fw-bold ">01126219388</div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mb-3 text-primary text-start">البيانات التعليمية</h3>
      <div class="row g-5 mb-3">
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">الجامعة</div>
              <div class="text-start fw-bold">جامعة الازهر بنين</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">الكلية</div>
              <div class="text-start fw-bold ">كلية الهندسة-بنين (هندسي عام)</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">التخصص</div>
              <div class="text-start fw-bold">النظم و الحاسبات</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-5 mb-3">
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">الفرقة</div>
              <div class="text-start fw-bold">الرابعة</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">التقدير</div>
              <div class="text-start fw-bold ">جيد جدا</div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mb-3 text-primary text-start">بيانات السكن</h3>
      <div class="row g-5 mb-3">
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">المبنى</div>
              <div class="text-start fw-bold">الطيب</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">الدور</div>
              <div class="text-start fw-bold ">الأول</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white rounded p-1 h-100">
            <div class="m-1">
              <div class="label text-start  text-secondary">رقم الغرفة</div>
              <div class="text-start fw-bold">2</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
