.profile-image {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin: 20px auto 10px;
}

.qrcode-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.btn-download {
  margin-top: 10px;
}

